@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: black;
}

.button{
  font-size: large;
  color: white;
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 0.1px solid rgb(255, 255, 255);
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 296px;
  font-size: 35px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(252, 4, 4);
    background: linear-gradient(
      #ff00c1 0%,
      #9600ff 25%,
      #4900ff 50%,
      #00b8ff 80%,
      #00fff9 100%
    );
    border-radius: 5px;
}


.title{
    text-align: center;
    color: rgb(80, 227, 12);
  }
    
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }



  button {
    border: none;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background: #47c420;
    padding: 1.5em 3em;
    font-family: "Paytone One", sans-serif;
  }

  button::after,
  button::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      var(--rotate),
      #ff00c1 0%,
      #9600ff 25%,
      #4900ff 50%,
      #00b8ff 80%,
      #00fff9 100%
    );
    width: 105%;
    height: 110%;
    left: -2.5%;
    top: -5%;
    z-index: -1;
    border-radius: 10px;
    transition: --rotate 9999s linear;
  }
  
  button:hover:after,
  button:hover::before {
    --rotate: 3600deg;
    transition: --rotate 20s linear;
  }
  
  button:hover::before {
    animation: fade 1.2s;
  }
  @property --rotate {
    syntax: "<angle>";
    initial-value: 130deg;
    inherits: false;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
      transform: scale(1);
      filter: blur(10px);
    }
    100% {
      opacity: 0;
      transform: scale(1.4);
      filter: blur(10px);
    }
  }  